# Ignore git ignore


*NOGIT*
*TESTOUT*
out/*
.gitattributes

!*.lay

# ignore matlab executables
*.mexw64
*.mexw64.pdb
*Automated_Function_Directory*

# ignore compiled files

*.exe
*.s
*.o
*.f
SRCC/obj/*.o
SRCC/.d/*
SRCC/dbg*
SRCC/obj*
SRCC/matrices*
SRCC/modules/external*

SRCC/gch/*
SRCC/config/*

# files which are of no relevance
SRCC/noexec_rsvsconfig.json

# Sublime text 
*.sublime-workspace
*.sublime-syntax

# Profilers
*test-cppcheck-build-dir*
*.cppcheck



