# Ignore git ignore
*NOGIT*
*TESTOUT*
out/*
.gitattributes
temp/*

!*.lay

# ignore matlab executables
*.mexw64
*.mexw64.pdb
*Automated_Function_Directory*

# ignore compiled files
*.exe
*.s
*.o
*.f
*.asv
SRCC/obj/*.o
SRCC/.d/*
SRCC/dbg*
SRCC/obj*
SRCC/matrices*
SRCC/modules/external*

SRCC/gch/*
SRCC/config/*
SRCC/docs/html/*
SRCC/docs/latex/*
# files which are of no relevance
SRCC/noexec_rsvsconfig.json
SRCC/tetgen-tmpfile*.vtk
defaultconfigRSVS3D.json*
# Sublime text 
*.sublime-workspace
*.sublime-syntax

# Profilers
*test-cppcheck-build-dir*
*.cppcheck

# Data output files
*.vtk
*.plt
# Matlab spam files
*.dXYZ
surface_analysis.dat



